/* Override Carrd */
.container.style1:not(:last-child) {
  margin-bottom: 5rem !important;
}

/* Hero Image - inspired by Carrd .image.style3 */

.image.styleHero:not(:first-child) {
    margin-top: 2.25rem !important;
}

.image.styleHero:not(:last-child) {
    margin-bottom: 2.25rem !important;
}


.image.styleHero:not(:first-child) {
	margin-top: 3rem !important;
}

.image.styleHero:not(:last-child) {
	margin-bottom: 3rem !important;
}

.image.styleHero .frame {
    border-radius: 1.25rem !important;
	max-width: 100%;
	width: auto;
	transition: none;
}

.image.styleHero .frame img {
	transition: none;
}

@media (max-width: 736px) {

	.image.styleHero:not(:first-child) {
		margin-top: 2.25rem !important;
	}
	
	.image.styleHero:not(:last-child) {
		margin-bottom: 2.25rem !important;
	}
	
}

/* Style Markdown Content */


/* Text styles
 * - Base :
        - text: .style5
 * - Hero :
 *      - H1 (over-title in the hero): .style14
 *      - H2 (hero big title): .style15
 *      - H3 (catchline - subheros): .style16
 *      - text: .style6
 * - Content :
 *      - H3 (content titles): .style3
 *      - H3 over-title: .style17
 * - Highlights :
 *      - H4 (highlights): .style4
 *      - text: .style1
**/

/* Base */
article {
    font-family: 'Inter', sans-serif;
    text-align: left;
    color: #525252;
    letter-spacing: -0.05rem;
    width: 100%;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 400;
}

article h3 {
    letter-spacing: -0.15rem;
    font-size: 2.5rem;
    line-height: 1.25;
    font-weight: 600;

    margin-top: 4rem;
}

article h4 {
    letter-spacing: -0.05rem;
	font-size: 1.5em;
	line-height: 1.25;
	font-weight: 600;

    margin-top: 2.5rem;
}

article p {
    margin: 2rem 0 2rem 0;
}

article blockquote {
    border-left: 0.2rem solid #52525281;
    border-radius: 0.2rem;
    margin-left: 0.5rem;
    padding-left: 1rem;
}
