{{ $id := .Get "id" }}
{{ if $id }}
{{ $href := printf "https://www.facebook.com/watch/?v=%s" $id }}

<iframe 
    src="https://www.facebook.com/plugins/video.php?href={{ $href | urlquery }}&height=476&show_text=false&width=476&t=0"
    width="476"
    height="476"
    style="border:none;overflow:hidden"
    scrolling="no"
    frameborder="0"
    allowfullscreen="true"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
    allowFullScreen="true">
</iframe>
{{ end }}
