<hr id="divider02" class="style1">
<footer id="footer">
    <div id="container12" class="style4 container columns full screen">
        <div class="wrapper">
            <div class="inner" data-onvisible-trigger="1">
                <div>
                    <p id="text15" class="style20">Qui sommes-nous ?</p>
                    <p id="text16" class="style21">ACPPT agit depuis 2014 pour protéger les femmes et les filles,
                        sensibiliser et prévenir les violences.</p>
                    <ul id="links03" class="style1 links">
                        <li class="n01"><a href="#">En savoir plus</a></li>
                    </ul>
                </div>
                <div>
                    <ul id="links01" class="style1 links">
                        <li class="n01"><a href="#">Accueil</a></li>
                        <li class="n02"><a href="#">Nos actions</a></li>
                        <li class="n03"><a href="#">S'informer</a></li>
                        <li class="n04"><a href="#">Contribuer</a></li>
                        <li class="n05"><a href="#">Nous contacter</a></li>
                    </ul>
                </div>
                <div>
                    <p id="text17" class="style20">
                        <span class="p">
                            Association Chance et<br>
                            Protection Pour Toutes
                        </span>
                    </p>
                    <ul id="icons02" class="style2 icons">
                        <li style="opacity: 1; transform: none;"><a class="n01"
                                href="https://www.facebook.com/associationchanceetprotectionpourtoutes/" target="_blank" role="button"><svg
                                    aria-labelledby="icons02-icon-1-title">
                                    <title id="icons02-icon-1-title">Facebook</title>
                                    <use xlink:href="#icon-a1eb5cac0cee3b05a40d856c98ce14a5"></use>
                                </svg><span class="label">Facebook</span></a></li>
                        <li style="opacity: 1; transform: none;"><a class="n02"
                                href="https://www.instagram.com/association_cppt/?__coig_restricted=1" target="_blank" role="button"><svg
                                    aria-labelledby="icons02-icon-2-title">
                                    <title id="icons02-icon-2-title">Instagram</title>
                                    <use xlink:href="#icon-85976685de3e4af37529a1ce5d57d2a7"></use>
                                </svg><span class="label">Instagram</span></a></li>
                        <li style="opacity: 1; transform: none;"><a class="n03" href="https://twitter.com/AssociationCppt" target="_blank"
                                role="button"><svg aria-labelledby="icons02-icon-3-title">
                                    <title id="icons02-icon-3-title">X</title>
                                    <use xlink:href="#icon-31b8880d36499db40d4e47546c4763f3"></use>
                                </svg><span class="label">X</span></a></li>
                        <li style="opacity: 1; transform: none;"><a class="n04" href="#contact" role="button"><svg
                                    aria-labelledby="icons02-icon-4-title">
                                    <title id="icons02-icon-4-title">Email</title>
                                    <use xlink:href="#icon-c0646d28bbeb18e39eb973f96b44bd0f"></use>
                                </svg><span class="label">Email</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>