<head>
    <title>
        {{- block "title" . -}}
            {{ with .Title }}{{ . }} {{ end }}
        {{- end -}}
        | {{ .Site.Title }}
    </title>
    {{ with .Summary }}
        <meta name="description" content="{{ . | plainify | safeHTML }}" />
    {{ end }}
    {{ template "_internal/opengraph.html" . }}
    
    <!-- TODO : Inject only on Index -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <link href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ absURL "css/fonts.css" }}">
    <link rel="stylesheet" href="{{ absURL "css/carrd.css" }}">
    <link rel="stylesheet" href="{{ absURL "css/style.css" }}">
    <link rel="stylesheet" href="{{ absURL "menu/menu.css" }}">
    <script src="{{ absURL "menu/menu.js" }}"></script>
    <script>
        const logoUrl = "{{ absURL "images/logo.png" }}";
        const NAVBAR = {
            logo: {
                src: logoUrl,
                alt: "Logo de l'association ACPPT",
                href: "https://dev.associationcppt.fr/#home"
            },
            elements: [
                {
                    label: "Accueil",
                    href: "https://dev.associationcppt.fr/#home"
                },
                {
                    label: "L'association",
                    href: "https://dev.associationcppt.fr/#association"
                },
                {
                    label: "Nos actions",
                    href: "https://dev.associationcppt.fr/#nos-actions"
                },
                {
                    label: "Nos antennes",
                    subElements: [
                        {
                            label: "France",
                            href: "https://dev.associationcppt.fr/#antenne-france"
                        },
                        {
                            label: "Guinée",
                            href: "https://dev.associationcppt.fr/#antenne-guinee"
                        },
                    ]
                },
                {
                    label: "Nous aider",
                    href: "https://dev.associationcppt.fr/#nous-aider"
                },
                {
                    label: "Contact",
                    href: "https://dev.associationcppt.fr/#contact"
                }
            ]
        };
    </script>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-26N9GETWZ3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-26N9GETWZ3');
    </script>
</head>