<head>
    {{ template "_internal/opengraph.html" . }}
    
    <!-- TODO : Inject only on Index -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <link rel="stylesheet" href="/css/carrd.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/menu/menu.css">
    <script src="/menu/menu.js"></script>
    <script>
        const NAVBAR = {
            logo: {
                src: "/images/logo.png",
                alt: "Logo de l'association ACPPT",
                href: "https://acppt2.carrd.co/#home"
            },
            elements: [
                {
                    label: "Accueil",
                    href: "https://acppt2.carrd.co/#home"
                },
                {
                    label: "L'association",
                    href: "https://acppt2.carrd.co/#association"
                },
                {
                    label: "Nos actions",
                    href: "https://acppt2.carrd.co/#nos-actions"
                },
                {
                    label: "Nos antennes",
                    subElements: [
                        {
                            label: "France",
                            href: "https://acppt2.carrd.co/#antenne-france"
                        },
                        {
                            label: "Guinée",
                            href: "https://acppt2.carrd.co/#antenne-guinee"
                        },
                    ]
                },
                {
                    label: "Nous aider",
                    href: "https://acppt2.carrd.co/#nous-aider"
                },
                {
                    label: "Contact",
                    href: "https://acppt2.carrd.co/#contact"
                }
            ]
        };
    </script>
</head>