{{ define "main" }}
<div id="container01" class="style1 container columns full screen"
    style="--element-top: 0; --onvisible-speed: 1s; --onvisible-background-color: rgba(0,0,0,0.001);">
    <div class="wrapper">
        <div class="inner">
            <div>
                <div id="heroImage" class="styleHero image" style="opacity: 1; transform: none;">
                    <span class="frame">
                        {{ $cover := partial "partials/cover.html" . }}
                        <img src="{{ $cover.src }}" alt="{{ $cover.alt }}" class="{{ delimit $cover.css " " }}"/>
                    </span>
                </div>
            </div>
            <div>
                <h1 class="style14">
                    Association Chance et Protection Pour Toutes
                </h1>
                <h2 class="style15" style="opacity: 1; transform: none;">
                    {{ .Title }}
                </h2>
                <p class="style6" style="opacity: 1; transform: none;">
                    <span class="p">
                        {{ .Date | time.Format ":date_long" }}
                    </span>
                </p>
                <p class="back-link">
                    <a href="{{ .Parent.Permalink }}">← Retour à {{ lower .CurrentSection.Title }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
<article class="">
    {{ .Content }}
</article>
<div id="gallery" class="gallery">
    {{ $images := slice }}
    {{ with .Params.featured_image }}
        {{ $images = $images | append (slice .) }}
    {{ end }}
    {{ with .Params.gallery }}
        {{ $images = $images | append . }}
    {{ end }}
    {{ range $images }}
        {{ $src := partial "resolveImageSrc" (dict "base" $.Permalink "path" .src) }}
        <div class="gallery-item">
            <a href="{{ $src }}" target="_blank"
            onclick="openLightbox(event, '{{ $src }}')"
            >
                <img src="{{ $src }}" alt="{{ .alt }}" />
            </a>
        </div>
    {{ end }}
</div>
<div id="lightbox" class="lightbox" onclick="closeLightbox()">
    <span class="close" onclick="closeLightbox()">&times;</span>
    <img class="lightbox-img" src="" id="lightbox-img" alt="" />
</div>
<script language="javascript">
    function openLightbox(event, src) {
        event.preventDefault();
        const lightbox = document.getElementById('lightbox');
        const lightboxImg = document.getElementById('lightbox-img');
        lightbox.style.display = 'flex';
        lightboxImg.src = src;
        lightboxImg.alt = event.target.alt;
    }
    function closeLightbox() {
        const lightbox = document.getElementById('lightbox');
        const lightboxImg = document.getElementById('lightbox-img');
        lightbox.style.display = 'none';
        lightboxImg.src = '';
        lightboxImg.alt = '';
    }
</script>
{{ end }}