{{ define "main" }}
    <div id="container01" class="style1 container columns full screen"
        style="--element-top: 0; --onvisible-speed: 1s; --onvisible-background-color: rgba(0,0,0,0.001);">
        <div class="wrapper">
            <div class="inner">
                <h2 class="style2" style="opacity: 1; transform: none;">
                    {{ .Site.Title }}
                </h2>
            </div>
        </div>
    </div>
    {{ range .Pages }}
        <article>
            <h2 class="text-4xl underline">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
        </article>
    {{ end }}

    <!-- Script to redirect to admin page after Netlify login -->
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", (user) => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
    </script>
{{ end }}